{% extends 'rango/base.html' %}
{% load static %}

{% block title_block %}About Rango{% endblock %}

{% block body_block %}
    <h1>Rango says...</h1>
    <div>
        Here is the about page. <br />
        <strong>This tutorial has been put together by Shatakshi Saha.</strong><br />
    </div>

    <!-- Static image (rango.jpg) -->
    <div>
        <img src="{% static 'images/rango.jpg' %}" alt="Rango Image">
    </div>

    <!-- Media image (cat.jpg) -->
    <div>
        <img src="{{ MEDIA_URL }}cat.jpg" alt="Picture of a Cat">
    </div>

    <!-- Display the number of visits -->
    <p>Visits: {{ visits }}</p> <!-- This will display the visit count -->
{% endblock %}
