<!DOCTYPE html>
<html>
<head>
    <title>Rango </title>
</head>
<body>
    <div>
        {% if category %}
            <h1>{{ category.name }}</h1>

            <a href="/rango/category/{{ category.slug }}/add_page/">Add Page</a><br>

            {% if pages %}
                <ul>
                    {% for page in pages %}
                        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <strong>No pages currently in this category.</strong>
            {% endif %}
        {% else %}
            <strong>The specified category does not exist.</strong>
        {% endif %}
    </div>
    
    <p><a href="{% url 'rango:index' %}">Back to Index</a></p>
</body>
</html>
